pycnws/tests/**/data/*.rst filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.rdc filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.tif filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.shp filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.shx filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.dbf filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.prj filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.cpg filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.txt filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.csv filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.sdat filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.sgrd filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.sg-grd-z filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/*.ini filter=lfs diff=lfs merge=lfs -text

pycnws/tests/**/data/**/*.rst filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.rdc filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.tif filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.shp filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.shx filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.dbf filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.prj filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.cpg filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.txt filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.sdat filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.sgrd filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.sg-grd-z filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.csv filter=lfs diff=lfs merge=lfs -text
pycnws/tests/**/data/**/*.ini filter=lfs diff=lfs merge=lfs -text

tests/**/data/*.rst filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.rdc filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.tif filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.shp filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.shx filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.dbf filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.prj filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.cpg filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.txt filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.csv filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.sdat filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.sgrd filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.sg-grd-z filter=lfs diff=lfs merge=lfs -text
tests/**/data/*.ini filter=lfs diff=lfs merge=lfs -text

tests/**/data/**/*.rst filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.rdc filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.tif filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.shp filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.shx filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.dbf filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.prj filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.cpg filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.txt filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.sdat filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.sgrd filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.sg-grd-z filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.csv filter=lfs diff=lfs merge=lfs -text
tests/**/data/**/*.ini filter=lfs diff=lfs merge=lfs -text
