
name: Update docs
on:
  workflow_dispatch:
  push:
    branches: [ gha ]

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Get all git tags
      run: git fetch --prune --unshallow --tags
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[develop,cache]
        sudo apt-get update
        sudo apt-get install -y gdal-bin saga wget pandoc
        gdal_translate --version # echo version for debugging
        saga_cmd --version # echo version for debugging
        wget https://github.com/DOV-Vlaanderen/saga-watem/releases/download/2025.6.11/saga-vpo_2025.6.11-1-ge95f136.noble_amd64.deb
        sudo dpkg -i saga-vpo*.deb
        wget https://github.com/watem-sedem/watem-sedem/releases/download/5.0.3/watem-sedem_5.0.3.330.gbp3f65b4_amd64.deb
        sudo dpkg -i watem-sedem*.deb
        watem_sedem || true # report the version, but don't fail because there is no ini file
    - name: Build documentation
      run: |
        sudo apt-get install -y pandoc
        tox -e docs
    - name: Deploy documentation
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
